<!--This page Abonded-->

<%@host = "http://127.0.0.1:3000"%>
<body>
<div>
    <h3 class=todo_main_head>ToDo's</h3>
    <a href=<%=@host+"/todo_lists/new"%> target="_self" style="text-align:center;"><button>Create New</button></a>
</div>
<br><br>

<div class=todo_main_body>
    <ul>
    <%@todo_content.each do |t|%>
        <li>
            <%=t.item%>
        </li>
    <%end%>
    </ul>
</div>

</body>

<style>
.todo_main_head{
    background-color:rgb(244, 162, 97);
    color:white;
    border-radius:5px;
    margin: 10px 150px;
    text-align:center;
    font-weight:550;}
.todo_main_body{
    background-color:rgb(127, 85, 57);
    color:white;
    border-radius:5px;
    text-align:center;
    font-weight:550;
}
</style>
